*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	background-image: url(../../images/lectures_blur.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h1{
	margin: 2% 0;
	text-align: center;
}
h1 a{
	color: #000000;
	text-decoration: none;
}
.desc{
	position: relative;
	height: 50%;
	width: 50%;
	margin-left: 25%; 
	display: inline-block;
	box-sizing: border-box;
}
.poster{
	overflow: hidden;
	position: relative;
}
.poster img{
	max-width: 100%;
	transition: transform 2s;
}
.desc:hover img{
	transform: scale(1.2);
}
.details{
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background: rgba(0,0,0,0.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.desc:hover .details{
	transform: scaleY(1);
}
.content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #ffffff;
	font-size: 25px;
}
footer a{
	color: #000000;
	padding: 10px 13px;
	font-size: 35px;
}
a{
	text-align: center;
}